EditORCreatePlan.json
{
  "name": "EditORCreatePlan",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1N-HfOIMD2RcpXVK4xe7p4Pdql5iA1fnAnEvrNDsyX-A",
          "mode": "list",
          "cachedResultName": "RunningRecord",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N-HfOIMD2RcpXVK4xe7p4Pdql5iA1fnAnEvrNDsyX-A/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1946388696,
          "mode": "list",
          "cachedResultName": "goal",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N-HfOIMD2RcpXVK4xe7p4Pdql5iA1fnAnEvrNDsyX-A/edit#gid=1946388696"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "detectAutomatically",
              "readRowsUntil": "firstEmptyRow"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        224,
        0
      ],
      "id": "331d397d-7cdc-47ef-a2ec-1efe1c7d5a99",
      "name": "ReadGoal",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OsZYWo0EHpNznyio",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// รับข้อมูลทั้งหมดที่เข้ามา (ซึ่งจะเป็น Array ของแถวทั้งหมด)\nconst allRecords = $input.all();\n\n// ใช้คำสั่ง .slice(-20) เพื่อ \"ตัด\" เอาเฉพาะ 20 รายการสุดท้าย\nconst last20Records = allRecords.slice(-20);\n\n// ส่งผลลัพธ์ (20 รายการล่าสุด) ออกไปให้ Node ถัดไป\nreturn last20Records;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        0
      ],
      "id": "b6112887-4fab-4c76-a3a9-f1dfa68935c4",
      "name": "SlideLast20"
    },
    {
      "parameters": {
        "jsCode": "// 1. รับรายการเป้าหมายทั้งหมดเข้ามา\nconst allGoals = $input.all();\nconst today = new Date();\ntoday.setHours(0, 0, 0, 0); // ตั้งค่าเวลาเป็นเที่ยงคืน\n\nconst pastRaces = [];\nconst futureGoals = [];\n\n// ✨ ฟังก์ชันพิเศษสำหรับแปลงวันที่ พ.ศ. ให้ถูกต้อง ✨\nfunction parseThaiDate(dateString) {\n  if (!dateString || typeof dateString !== 'string') return null;\n  const parts = dateString.split('/');\n  if (parts.length !== 3) return null;\n  \n  let year = parseInt(parts[2], 10);\n  // แปลงปี พ.ศ. แบบย่อ (เช่น 68) ให้เป็น ค.ศ.\n  if (year < 100) {\n    year += 2500; // แปลงเป็น พ.ศ. เต็ม -> 2568\n  }\n  if (year > 2400) {\n    year -= 543; // แปลงเป็น ค.ศ.\n  }\n  \n  const month = parseInt(parts[1], 10) - 1; // เดือนใน JS เริ่มจาก 0\n  const day = parseInt(parts[0], 10);\n  \n  return new Date(year, month, day);\n}\n\n// 2. แยกเป้าหมายในอดีตกับอนาคต\nallGoals.forEach(item => {\n  const raceDate = parseThaiDate(item.json.Race_Date);\n  if (raceDate) {\n    if (raceDate < today && item.json.Finished_Time) {\n      pastRaces.push(item.json);\n    } else if (raceDate >= today) {\n      futureGoals.push(item.json);\n    }\n  }\n});\n\n// 3. เรียงลำดับทั้งสองกลุ่ม\npastRaces.sort((a, b) => parseThaiDate(b.Race_Date) - parseThaiDate(a.Race_Date));\nfutureGoals.sort((a, b) => parseThaiDate(a.Race_Date) - parseThaiDate(b.Race_Date));\n\n// 4. สร้าง object ผลลัพธ์สุดท้าย\nreturn [{\n  json: {\n    next_goal: futureGoals.length > 0 ? futureGoals[0] : null,\n    past_races: pastRaces\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "id": "25e70b61-9e4e-4862-b6bb-b470babeb88a",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c7508adb-62b0-4264-b447-72d942789d55",
              "name": "trainingData",
              "value": "={{ $node['SlideLast20'].json }}",
              "type": "string"
            },
            {
              "id": "1e624a43-655a-4998-b9f4-01a4c75c414f",
              "name": "next_goal",
              "value": "={{ $('Code').item.json.next_goal }}",
              "type": "object"
            },
            {
              "id": "6d7d12cc-8f30-4914-bb65-f2e3d2a39af8",
              "name": "past_races",
              "value": "={{ $('Code').item.json.past_races }}",
              "type": "array"
            },
            {
              "id": "5b48be2f-3880-4ccf-b800-b2b0c6ecd8dc",
              "name": "planData",
              "value": "={{ $node['PlanData'].json }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1552,
        0
      ],
      "id": "b130d486-07dc-4634-a983-7b4d31f04396",
      "name": "PlanOutput"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -16,
        0
      ],
      "id": "81d383ba-c7d0-4643-a30e-a779a31042dd",
      "name": "Start"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1N-HfOIMD2RcpXVK4xe7p4Pdql5iA1fnAnEvrNDsyX-A",
          "mode": "list",
          "cachedResultName": "RunningRecord",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N-HfOIMD2RcpXVK4xe7p4Pdql5iA1fnAnEvrNDsyX-A/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 864535905,
          "mode": "list",
          "cachedResultName": "data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N-HfOIMD2RcpXVK4xe7p4Pdql5iA1fnAnEvrNDsyX-A/edit#gid=864535905"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "detectAutomatically",
              "readRowsUntil": "firstEmptyRow"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        672,
        0
      ],
      "id": "600b35a3-12cf-4df5-9ce8-3d069ee16762",
      "name": "TrainingData",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OsZYWo0EHpNznyio",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1N-HfOIMD2RcpXVK4xe7p4Pdql5iA1fnAnEvrNDsyX-A",
          "mode": "list",
          "cachedResultName": "RunningRecord",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N-HfOIMD2RcpXVK4xe7p4Pdql5iA1fnAnEvrNDsyX-A/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 685244126,
          "mode": "list",
          "cachedResultName": "plans",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N-HfOIMD2RcpXVK4xe7p4Pdql5iA1fnAnEvrNDsyX-A/edit#gid=685244126"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "detectAutomatically",
              "readRowsUntil": "firstEmptyRow"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1152,
        0
      ],
      "id": "3988f035-5edf-4dbf-aa58-87fd9a1ba3c4",
      "name": "PlanData",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OsZYWo0EHpNznyio",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "ReadGoal": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SlideLast20": {
      "main": [
        [
          {
            "node": "PlanData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "TrainingData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "ReadGoal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TrainingData": {
      "main": [
        [
          {
            "node": "SlideLast20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PlanData": {
      "main": [
        [
          {
            "node": "PlanOutput",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f7977056-2dd3-449c-8035-418178876ddb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1267e40b6b623a9ba41a51e0c803d24bb13b5a284e0cd82f774a80bded5ac77f"
  },
  "id": "EhS7vACGGUqUOvBC",
  "tags": []
}